---

  - name: Remove old packages
    apt:
      name:
        - docker
        - docker-engine
        - docker.io
        - containerd
        - runc
        - docker-compose-plugin
        - docker-compose-v2
      state: absent
      purge: yes

  - name: install docker and docker packages (Ubuntu) before update packages
    apt:
      name:
        - apt-transport-https
        - ca-certificates
        - curl
        - software-properties-common
        - gnupg
      state: latest
      update_cache: yes

  - name: add GPG key
    apt_key:
      url: https://download.docker.com/linux/ubuntu/gpg
      state: present

  - name: Add Docker repository
    apt_repository:
      repo: deb https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable
      state: present

  - name: Install Docker packages
    apt:
      name:
        - docker-ce
        - docker-ce-cli
        - containerd.io
        - docker-compose-plugin
      state: present
    
  - name: Enable and start Docker
    systemd:
      name: docker
      enabled: yes
      state: started



